// DEVICES BOUNDARIES
// ============================================================

$xs-max := 29.94rem // up to 479px

$ms-min := 30rem // min 480px
$ms-max := 47.94rem // max 767px

$sm-min := 48rem // min 768px
$sm-max := 63.94rem // max 1023px

$md-min := 64rem // min 1024px
$md-max := 84.94rem // max 1359px

$lg-min := 85rem // min 1360px
$lg-max := 99.94rem // max 1599px

$xl-min := 100rem // min 1600px